<hr>
<h4>Requisições</h4>

<% if requests.any? %>
<% requests.each do |request| %>
<div id="request_<%=request.id %>" class="well well-small"%>
	<table>
		<tr class="list-users">

			<td><h4><%=request.description %></h4></td>
			<td><h5><%=request.status %></h5></td>
			
			<td><%=link_to "Editar", edit_client_request_path(request.client, request), :class => "btn btn-primary", :remote => true %></td>

		</tr>
	</table>
</div>
</br>

<% end %>
<% else %>
</br>
<div class="alert">
	Não requisições solicitadas pelo cliente selecionado
</div>

<% end %>
